$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
// Load Bootstrap
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

// RxTheme Variables
@import 'stylesheets/variables';
@import 'stylesheets/theme-e.scss';

$sidebar_width: 10%;

html, body, #layout-container {
  height: 100%;
}

.main-layout {
  height: 100%;
  > .outer-grid {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    height: auto;
    > .main-panel > aside {
      position: absolute;
      top: 0;
      bottom: 0;
      width: $sidebar_width;
      > .aside-inner {
        height: 100%;
        padding-top: 55px;
      }
    }
  }
}

.navbar {
  margin-bottom: 0;
  border-radius: 0;
  border: none;
}

.navbar-right {
  position: absolute;
  right: 0;
  margin: 0;
  height: 100%;
}

.sidebar {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.content-wrapper {
  overflow: hidden;
  position: relative;
  height: 100%;
  margin-left: $sidebar_width;
}

.navbar-brand {

  .rx-project-name {
    color: #fff;
    font-size: 2.0em;
    padding: 5%;
  }

}

.rx-footer {
  height: 5%;
}
