// Correction for React Navbar

$navbar-margin: 5px;

.vendor-select-dropdown-nav-item {

  // TODO: make these corrections globally
  .vendor-select-button-correction {
    display: block;
    margin-top: $navbar-margin;
  }

  margin-top: $navbar-margin;
  
  .dropdown {
    .btn-default:first-child {
      background-color: rgba(255,255,255,0.7);
      border-color: rgba(255,255,255,0.7);
    }
  }
  
  @media (max-width: 768px) {
    padding-left: 4%;
    .dropdown {
      .btn-default:first-child {
        background-color: #fff;
        border-color: #dde6e9;
      }
    }
  }
}

.navbar-icon {
  margin-top: 10px;
}

#layout-inner-container {
  .aside-inner {
    height: 100vh;
  }
  height: 100vh;
}

.right-sidebar-container {
  border: 1px solid #aaa;
  border-top: none;
  height: 100vh;
  background-color: #fff;
  
  .user-nav-button-group {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  padding-left: 0;
  padding-right: 0;
}

// Bootstrap overrides
.navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.navbar {
  min-height: 32px !important;
}
